
<span>Display test result for the last </span> <input class="lastNDays" type="number" ng-model="vm.$storage.lastNDays"> <span>days</span>

<div ng-if="vm.showChart" google-chart chart="vm.chartObject" style="height: 600px; width: 100%;" agc-on-select="vm.selectHandler(selectedItem)"></div>
<div  ng-if="!vm.showTable" class="alert alert-danger" role="alert">
    Make sure your test data files are stored at the right location. 
</div>

<div ng-if="vm.showTable" class="animate-if">
    <h2 ng-bind="vm.tableTitle"></h2>
    <div google-chart chart="vm.tableObject" style="height:100%; width:100%;"></div>
</div>
