@{
    ViewBag.Title = "Support";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    8th floor Loyalty Team   <br/>
    Nordstrom - Russel Investiment building<br />
    Seattle, WA 98000<br />
    <abbr title="Phone">P:</abbr>
    425.463.6287
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sally.duan@nordstrom.com">sally.duan@nordstrom.com</a><br />
</address>